* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #1e1e2f, #0b0b14);
  font-family: game;
}

.sec {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ===== TITLE ===== */
  > div:first-of-type {
    height: 20vh;

    h1 {
      color: #fff;
      font-size: 48px;
      letter-spacing: 3px;
      padding: 15px 40px;
      border-radius: 20px;
      background: linear-gradient(135deg, #6a5af9, #d66efd);
      box-shadow: 0 10px 40px rgba(106, 90, 249, 0.5);
      text-align: center;
    }
  }

  /* ===== BOXES ===== */
  > div:nth-of-type(2) {
    height: 60vh;
    gap: 40px;

    .box {
      width: 160px;
      height: 160px;
      border-radius: 25px;
      background: linear-gradient(145deg, #1c1c2b, #141421);
      box-shadow:
        10px 10px 25px rgba(0, 0, 0, 0.7),
        -5px -5px 15px rgba(255, 255, 255, 0.05);
      cursor: pointer;
      transition: 0.25s ease;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(135deg, #6a5af9, #d66efd);
        opacity: 0;
        transition: 0.25s;
      }

      &.active {
        transform: scale(1.15);
        box-shadow: 0 0 40px #6a5af9;

        &::after {
          opacity: 1;
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  /* ===== BUTTON ===== */
  > div:last-of-type {
    height: 20vh;

    button {
      padding: 18px 60px;
      font-size: 36px;
      font-family: game;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      color: #fff;
      background: linear-gradient(135deg, #ff8a00, #ff3d00);
      box-shadow: 0 15px 40px rgba(255, 61, 0, 0.5);
      transition: 0.25s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 20px 60px rgba(255, 61, 0, 0.7);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}



.footer {
  width: 100%;
  height: 100vh;
  background-color: #151522;

  >div {
    width: 100%;

    &:nth-of-type(1) {
      height: 40vh;
      /* background-color: red; */
      display: flex;
      align-items: center;
      justify-content: center;

      >figure {
        width: 320px;
        height: 300px;
        background-color: whitesmoke;
        border-radius: 50px;
        border: 5px solid #ff4d00;
        overflow: hidden;
        >img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

    }


    &:nth-of-type(2) {
      height: 20vh;
      /* background-color: blue; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      >div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #151522;
        border: 5px solid #ff4d00;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;

        &:hover {
          background-color: white;

          >a {
            >i {
              color: #ff4d00;
            }
          }
        }

        >a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .4s;
          text-decoration: none;

          >i {
            transition: .4s;
            font-size: 50px;
            color: white;

          }
        }

      }
    }

    &:nth-of-type(3) {
      height: 40vh;
      /* border-top: 3px solid #ff4d00; */
      background-color: #171726;
      &:hover{
        >div{
        &:nth-of-type(1){
           >h1{
          margin-right: 50%;
         }
        }
         &:nth-of-type(2){
          >h1{
            margin-left: 50%;
          }
         }
         &:nth-of-type(3){
          >h1{
            margin-right: 50%;
          }
         }
        }
      }
      >div{
        /* border: 2px solid red; */
        width: 100%;
        height: 33.33%;
        display: flex;
        align-items: center;
        justify-content: end;
        >h1{
          transition: 1s;
          width: 30%;
          height: 90%;
          background-color: #151522;
          color: white;
          border-radius: 20px;
          border: 3px solid #ff4d00;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: pixel;
          font-size: 40px;
        }
        &:nth-of-type(2){
          justify-content: start;
        }
      }
    }
  }
}